language: go
sudo: false
go:
- 1.9.x
- 1.10.x
- 1.11.x

install:
- go get -t ./...
- go get github.com/mattn/goveralls
- go get github.com/wadey/gocovmerge

before_script:
- $(exit $(go fmt ./... | wc -l))
- go vet ./...

script:
- if [[ "$TRAVIS_GO_VERSION" == 1.10.* ]] ; then ./scripts/cov.sh TRAVIS; else go test -v -race ./...; fi
